html{
  height: 100%;
  background: url('./graphics/desk.jpg');
  background-size: stretch;
  margin-top: 10px;
  background-attachment: fixed;

}
body{
  min-height: 100%;
  font-family: 'Josefin Slab', serif;
  padding: 10px 30px;
  background: url('./graphics/paper.png');
  background-repeat: repeat-y;
  background-size: 92%;
  background-position: center;
  background-attachment: fixed;
}
@media(max-width: 450px){
  body{
    padding: 0;
  }
}

h1{
  text-align: center;
}

.option{
  cursor: pointer;
}
.option:hover{
  text-decoration: underline;
}
.grower{
  transition: all .2s;
}
.grower:hover{
  transform: scale(1.1); 
}
.red{
  color: orange;
  /* text-shadow: 1px 1px orange; */
  /* transform: scale(1.1); */
}

a{
  color: inherit;
  text-decoration: none;
}
.thickener{
  transition: all .2s;
}

.thickener:hover{
  border: 1px solid black !important;
  border-radius: 20px;
  background-color: aliceblue !important;
}
.title{
  display: block;
  margin: auto;
  width: 40%;
  min-width: 400px;
}

.header{
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}

/* .cloud{
  animation: bounce 4s infinite linear;
}
.cloud2{
  animation: bounce2 2.5s infinite linear;
  text-align: right;
  margin: 0px 30px;
}
.cloud3{
  animation: bounce3 3s infinite linear;
  text-align: right;
  margin: 10px 120px;
}
.cloud4{
  animation: bounce4 3.5s infinite linear;
  text-align: right;
  margin: 0px 10px;
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(5px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce2 {
  0% { transform: translateY(2px)  }
  50% { transform: translateY(-3px) }
  100% { transform: translateY(2px) }
}

@keyframes bounce3 {
  0% { transform: translateY(2px)  }
  50% { transform: translateY(-9px) }
  100% { transform: translateY(2px) }
}

@keyframes bounce4 {
  0% { transform: translateY(5px)  }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(5px) }
} */