html{
  height: 100%;
  background-size: stretch;
  margin-top: 10px;
  background-attachment: fixed;
  background: url('./graphics/desk.jpg');
}
body{
  min-height: 100%;
  font-family: 'Josefin Slab', serif;
  padding: 10px 30px;
  background: url('./graphics/paper.png');
  background-repeat: repeat-y;
  background-size: 92%;
  background-position: center;
  background-attachment: fixed;
}
@media(max-width: 450px){
  body{
    padding: 0;
  }
}

h1{
  text-align: center;
}

/* .option{
  cursor: pointer;
}
.option:hover{
  text-decoration: underline;
} */
/* .grower{
  transition: all .2s;
}
.grower:hover{
  transform: scale(1.1); 
} */
.red{
  color: orange;
  /* text-shadow: 1px 1px orange; */
  /* transform: scale(1.1); */
}

a{
  color: inherit;
  text-decoration: none;
}
.thickener{
  transition: all .2s;
}

.thickener:hover{
  border: 1px solid black !important;
  border-radius: 20px;
  background-color: aliceblue !important;
}
.title{
  display: block;
  margin: auto;
  width: 40%;
  min-width: 400px;
}

.header{
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}